<div class="row" *ngFor="let item of data; let i= index">
    <div class="col-xs-12 col-md-8 col-md-offset 2">
        <h5>{{item.name}}</h5>
        <hr>
        <p>This Account is {{item.status}}</p>
        <button class="btn btn-default" (click)="onSetTo(i,'active')">Set to 'active'</button>
        <button class="btn btn-default" (click)="onSetTo(i,'inactive')">Set to 'inactive'</button>
        <button class="btn btn-default" (click)="onSetTo(i,'unknown')">Set to 'unknown'</button>
        
    </div>
</div>